<div th:fragment="cabecera">
	<header>
		<div id="header_izq">
			<img src="images/logo4.png" alt="Logo" width="80px" height="80px">
		</div>
		<div id="header_der">
			<h1>ComRecetas</h1>
		</div>
	</header>


</div>

<div th:fragment="menu">
	<nav>
		<ul>
			<li>
				<a href="menu_mostrar" class="enlace">Mostrar Recetas</a>
			</li>
			<li>
				<a href="menu_crearReceta" class="enlace">Crear Receta</a>
			</li>
		</ul>

	</nav>
	<div class="mensaje"> <p th:text="${session.mensaje}"></p></div>
</div>

<div th:fragment="pie">
	
	<footer>
        <p>Designed by: Jabril</p>
    </footer>
</div>